name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      DESCOPE_LOG_LEVEL:
        description: "Descope Log Level"
        default: "info"

concurrency: ci

env:
  DESCOPE_LOG_LEVEL: ${{ github.event.inputs.DESCOPE_LOG_LEVEL || 'info' }}

jobs:
  ci:
    name: Descope Ruby SDK CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          # We are not letting this step to run bundle install, we will do it later
          bundler-cache: false

      - name: Install dependencies
        run: bundle install

      - name: Run RSpec Test
        run: bundle exec rspec spec/lib.descope

      - name: Run RSpec Integration Tests
        env:
          DESCOPE_MANAGEMENT_KEY: ${{ secrets.DESCOPE_MANAGEMENT_KEY }}
          DESCOPE_PROJECT_ID: ${{ secrets.DESCOPE_PROJECT_ID }}
        run: bundle exec rspec spec/integration
