name: Publish Ruby Gem

on:
  release:
    types: [published]

jobs:
  release:
    name: Publish Ruby Gem
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: main
          fetch-depth: 0

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          # We are not letting this step to run bundle install, we will do it later
          bundler-cache: false

      - name: Install dependencies
        run: bundle install

      - name: Verify version
        run: |
          echo "Version file contents:"
          cat lib/descope/version.rb
          echo "Release tag: ${{ github.event.release.tag_name }}"

      - name: Publish to RubyGems
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_API_KEY}}"
