name: Publish Ruby Gem

on:
  release:
    types: [published]

jobs:
  release:
    name: Publish Ruby Gem
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: main
          fetch-depth: 0

      - uses: ruby/setup-ruby@2a7b30092b0caf9c046252510f9273b4875f3db9 # v1.254.0
        with:
          # We are not letting this step to run bundle install, we will do it later
          bundler-cache: false

      - name: Install dependencies
        run: bundle install

      - name: Get token
        id: get_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          private_key: ${{ secrets.RELEASE_APP_PEM }}
          app_id: ${{ secrets.RELEASE_APP_ID }}
          
      - name: Determine version
        id: version
        run: |
          if [ -n "${{ github.event.inputs.version }}" ]; then
            NEW_VERSION="${{ github.event.inputs.version }}"
          else
            NEW_VERSION=$(echo ${{ github.event.release.tag_name }} | sed 's/^v//')
          fi
          echo "NEW_VERSION=${NEW_VERSION}" >> $GITHUB_OUTPUT

      - name: Bump version
        run: |
          sed -i "s/^  VERSION = '.*'/  VERSION = '${{ steps.version.outputs.NEW_VERSION }}'/g" lib/descope/version.rb
          echo -e "Updated version file:\n $(cat lib/descope/version.rb)"

      - name: Commit changes
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
          git checkout main
          git add ./lib/descope/version.rb
          git commit -m "Bump version to ${{ steps.version.outputs.NEW_VERSION }}"
          git push origin main
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}

      - name: Repoint the tag to latest commit
        run: |
          TAG="${{ github.event.release.tag_name }}"
          git tag -d "${TAG}"
          git tag "${TAG}" -m "Release ${{ steps.version.outputs.NEW_VERSION }}"
          git push origin :"${TAG}"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to RubyGems
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_API_KEY}}"
